fastapi
uvicorn
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
sqlalchemy
python-dotenv
httpx
google-genai
playwright
pymupdf
python-docx
pytesseract
python-pptx
pandas
openpyxl
faiss-cpu
sentence-transformers
beautifulsoup4
langgraph
langchain-openai
langchain-core
pydantic>=2.0
python-telegram-bot
twilio
